h3{
    color:rgb(66, 64, 64);
}
.main{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.main__form{
   
    text-align: center;
    padding: 10px 10px;
    padding-bottom: 10px;
    border:1px solid gray;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  
}
.main__space{
    height: 10px;
}